<!DOCTYPE html>
<html>
  <head>
    <title>Peter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="note"><!-- Make success error dynamic-->
            <% if !flash[:notice].blank? %>
                <div class="success">
                    <%= flash[:notice] %>
                </div>
            <% else %>
                <div class="divider">
                    
                </div>
            <% end %>
        </div>
    <%= yield %>
  </body>
</html>
