<h1>Delete <%= @project.title %></h1>
<%= link_to("Back to page", project_path(@project.id))%>
<%= form_for(@project, :method => 'delete') do |f| %>

    <p>Are you sure that you want to delete the project: <%= f.object.title %>?</p>
    <div class="form-buttons">
        <%= f.submit("Delete #{@project.title}") %>
    </div>
<% end %>
