<h1>Edit <%= @project.title%></h1>
<br />
<%= form_for(@project) do |f| %>
    <%= hidden_field_tag(:from, @from, :readonly => true) %>
    <table summary="Project form fields">
        <tr>
            <th>Title</th>
            <td><%= f.text_field(:title) %></td>
        </tr>
        <tr>
            <th>Intro</th>
            <td><%= f.text_field(:intro) %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= f.text_area(:description) %></td>
        </tr>
        <tr>
            <th>Tech</th>
            <td><%= f.collection_check_boxes( :tech_ids, Tech.all, :id, :name) %></td>
        </tr>
        <tr>
            <th>Public URL</th>
            <td><%= f.text_field(:publicUrl) %></td>
        </tr>
        <tr>
            <th>Admin URL</th>
            <td><%= f.text_field(:adminUrl) %></td>
        </tr>
        <tr>
            <th>Github URL</th>
            <td><%= f.text_field(:gitUrl) %></td>
        </tr>
        <tr>
            <th>File</th>
            <td><%= f.file_field(:image, multiple: true ) %></td>
        </tr>
    </table>
    <div class="form-buttons">
        <%= f.submit("Edit #{@project.title}") %>
    </div>
<% end %>
