<h1>Projects</h1>
<%= link_to('New', new_project_path())%>
<div class="admin-projects">
    <div class="project-list">
        <% @projects.each do |project| %>
            <% if project = @default %>
                <div class='project-title selected'><%= link_to(project.title, project_path(project.id)) %></div>
            <% else %>
                <div class='project-title'><%= link_to(project.title, project_path(project.id)) %></div>
            <% end %>
        <% end %>
    </div>
    <div class='admin-project'>
            <div class='project-title'><%= link_to(project.title, project_path(project.id)) %></div>
            <div class="project-tech">
                <% project.teches.each do |tech| %>
                    <div class="tech-item"><%= tech.name %></div>
                <% end %>
            </div>
            <%= link_to('Edit', edit_project_path(id: project.id, from: 'i'))%>
    </div>
</div>

