<h1><%= @project.title %></h1>
<p><%= @project.description %></p>
<% @project.image.each do |i| %>
    <%= content_tag(:div, image_tag(i, class: "list-item-image"), class: "list-item" )%>
<% end %>
<div class="teches">
    <% @project.teches.each do |tech| %>
        <div class="tech">
            <%= tech.name %>
        </div>
    <% end %>
</div>
<%= link_to('Edit', edit_project_path(id: @project.id, from: 's')) %>
